#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: #c93648;
  color: wheat;
  width: 600px;
  height: auto;
  padding: 6rem 0;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-title {
  font-weight: 700;
}

.modifiers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.timer {
  width: 270px;
  margin: 3rem auto 0 auto;
  width: 270px;
  border: 2px solid yellow;
  border-radius: 20px;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#timer-label {
  font-size: 26px;
}

#time-left {
  margin-top: 1rem;
}

.session-buttons,
.break-buttons {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}

i:hover{
  cursor: pointer;
}

.controls{
  display: flex;
  margin: 2rem auto 0 auto;
  justify-content: space-around;
  width: 36%;
}

button{
  background-color: #4351bc !important;
}